// fonts
// import font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100;300;400&display=swap');

$font-title: 'Rubik', sans-serif;
$font-secondary-title: 'Ropa Sans', sans-serif;
$font-body: 'Taviraj', serif;

$radius-md: 10px;
$text-md: 16px;

// primary color pallete
$brand-blue: #16bac6;
$brand-orange: #f46f14;
$brand-gold: #e0c38c;
$color-primary: #fff;
$color-primary-dark: #132f45;
$white: #fff;
$black: #000;

// secondary color pallete
$secondary-1: #f27983;
$secondary-2: #a63247;
$secondary-3: #59041b;
$secondary-4: #f29999;
$secondary-5: #f2f2f2;

// tertiary color pallete
$tertiary-1: #16bac6;
$tertiary-2: #8bd9d9;
$tertiary-3: #f46f14;
$tertiary-4: #f2865e;
$tertiary-5: #f2f2f2;
