@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: $radius-md;
  font-size: $text-md;
  transition: all 0.2s ease-in-out;

  // @include button-variant($color-primary, $color-primary-dark, $color-primary-light);

  &Icon {
    font-size: 18px;
  }

  &Label {
    font-weight: 600;
  }
}
